/* ======================================== */
/* APPLY THESE STYLES TO THE ENTIRE WEBPAGE */
/* ======================================== */
body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left, #fc6076 0%, #ff9a44 100%);
}

/* ================ */
/* JUMBOTRON STYLES */
/* ================ */
.jumbotron { border-radius: 0 !important; }
#jumbotron-bg { background: none; }

/* BADGE STYLES */
.badge {
    font-weight: 400;
    font-size: 1rem;
}


h1.display-4 { font-weight: 600; }


/* ========================= */
/* CUSTOM DARK BUTTON STYLES */
/* ========================= */
.btn-dark { transition: all 0.3s; }
.btn-dark:hover { transform: scale(1.05); }

/* ================================================== */
/* STYLES FOR THE TABLE WHERE THE EXPENSES ARE LISTED */
/* ================================================== */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: 0 0 10rem 0 !important;
}

/* ===================================================== */
/* DARK BACKGROUND AND WHITE COLOUR FOR TABLE AND FOOTER */
/* ===================================================== */
.dark {
    background: #232323;
    color: #e8e8e8;
}