body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to left, #fc6076 0%, #ff9a44 100%);
}

.jumbotron {
    border-radius: 0 !important;
}

/* #6c7ae0 */

h1.display-4 {
    font-weight: 600;
}

#jumbotron-bg {
    background: none;
}

.btn-dark {
    background: #232323;
    color: white;
    transition: all 0.3s;
}

.btn-dark:hover {
    transform: scale(1.05);
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: 0 0 10rem 0 !important;
}

.table_header {
    background: #232323;
    color: #e8e8e8;
}

.footer {
    background: #232323;
}